<a href="https://colab.research.google.com/github/VielkaEncarnacion/DataAnalytics/blob/main/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [1]:
CampusList = ['Baruch', "Queens", 'Hunter', 'LaGuardia', 'City']
print(CampusList)

['Baruch', 'Queens', 'Hunter', 'LaGuardia', 'City']

## 2.	Print out those variables by using a for loop

In [2]:
CampusList = ['Baruch', "Queens", 'Hunter', 'LaGuardia', 'City']
print(CampusList)
for campus in CampusList:
  print(campus)

['Baruch', 'Queens', 'Hunter', 'LaGuardia', 'City']
Baruch
Queens
Hunter
LaGuardia
City

## 3.	Modify your for loop to add a message to your for loop.

In [6]:
CampusList = ['Baruch', "Queens", 'Hunter', 'LaGuardia', 'City']
print(CampusList)
for campus in CampusList:
  print(campus.title() + ' College is one of my favorite campuses!\n' + ' I love to visit them' + '  everytime I can.\n')
print('They are beautiful')

['Baruch', 'Queens', 'Hunter', 'LaGuardia', 'City']
Baruch College is one of my favorite campuses!
 I love to visit them  everytime I can.

Queens College is one of my favorite campuses!
 I love to visit them  everytime I can.

Hunter College is one of my favorite campuses!
 I love to visit them  everytime I can.

Laguardia College is one of my favorite campuses!
 I love to visit them  everytime I can.

City College is one of my favorite campuses!
 I love to visit them  everytime I can.

They are beautiful

## 4.	Use a for loop to print even numbers from 1-20.

In [42]:
numberlist = list(range(0,21,2))
for numbers in numberlist:
  print(numbers)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [26]:
fruitlist = ['apples','pinapple','figs','grapes','kiwi','bananas']
fruitlist.sort()
print(fruitlist)

['apples', 'bananas', 'figs', 'grapes', 'kiwi', 'pinapple']

## 6.	Print out the first three elements of your list.

In [12]:
fruitlist = ['apples','bananas','figs','grapes','kiwi','mangoes']
print(fruitlist[:3])

['apples', 'bananas', 'figs']

## 7.	Create a loop to print the last 2 elements of your list.

In [24]:
fruitlist = ['apples','bananas','figs','grapes','kiwi','mangoes']
for fruit in fruitlist:
    print(fruitlist[-2:])

['kiwi', 'mangoes']
['kiwi', 'mangoes']
['kiwi', 'mangoes']
['kiwi', 'mangoes']
['kiwi', 'mangoes']
['kiwi', 'mangoes']